body {
  background-color: #292f36;
}

.cover:before {
  display: none;
}

.cover blockquote {
  color: white;
}

.cover .cover-main>p:last-child a:first-child {
  font-weight: 600;
}

.sidebar {
  background: black;
  border: none;
}

body .sidebar .search .input-wrap {
  border: none;
}

@media (min-width: 48em) {
  .sidebar-toggle {
    top: 0;
  }
}
